<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

    <div class="main-content">
        {{>header}}
        <div class="portrait-div">
            <img class="portrait" src="/img/Kien.jpg" />
        </div>

        <p>This website uses API's from mapbox.com and darksky.net</p>


    </div>
    {{>footer}}

</body>

</html>